<ul class="styleless">
	<li class="styleless"><a href="{{site.baseurl}}/work_publications.html">Publications</a></li>
	<li class="styleless"><a href="{{site.baseurl}}/work_teaching.html">Teaching</a></li>
	<li class="styleless"><a href="{{site.baseurl}}/work_projects.html">Projects</a></li>
	<li class="styleless"><a href="https://clawed.baldesi.ovh/index.php/s/ty64TkkLtdQ56xi/download/resume_baldesi_sw.pdf">CV</a></li>
	<li class="styleless"><a href="https://clawed.baldesi.ovh/index.php/s/ty64TkkLtdQ56xi/download/resume_baldesi_sw.pdf">Resume</a></li>
</ul>
