<ul class="styleless">
	<li class="styleless"><a href="{{site.baseurl}}/work_publications.html">Publications</a></li>
	<li class="styleless"><a href="{{site.baseurl}}/work_teaching.html">Teaching</a></li>
	<li class="styleless"><a href="{{site.baseurl}}/work_projects.html">Projects</a></li>
	<li class="styleless"><a href="https://vps769128.ovh.net/index.php/s/iPMsF8csprJSNgH/download?path=%2F&files=cv_baldesi.pdf">CV</a></li>
	<li class="styleless"><a href="https://vps769128.ovh.net/index.php/s/iPMsF8csprJSNgH/download?path=%2F&files=resume_baldesi_sw.pdf">Resume</a></li>
</ul>
