---
---
{{ reference | replace_first: 'Baldesi, L.', '<b>Baldesi, L.</b>' }}

{% if entry.award %}
<strong>{{ entry.award }}</strong>
{% endif %}
[
<a href="javascript:toggle_display('{{ entry.key }}-entry')">bibtex</a> 
{% if entry.pdf %}
| <a href="{{ entry.pdf }}">PDF</a> 
{% endif %}
{% if entry.software %}
| <a href="{{ entry.software }}">software</a>
{% endif %}
{% if entry.dataset %}
| <a href="{{ entry.dataset }}">dataset</a>
{% endif %}
]



<pre class="highlighter-rouge highlight"  id="{{ entry.key }}-entry"  style="display:none">{{ entry.bibtex }}</pre>

